<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://densndente.sitecloud.cytanium.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.sitecloud.cytanium.com</MSDeployServiceURL>
    <DeployIisAppPath>densndente</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$densndente</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DensDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql02.cytanium.com;Initial Catalog=DensDb;User ID=vasani;Password=APPLE.1234;Asynchronous Processing=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DensNDente_Warehouse_Management.EntityFramework.DensDBEntities, DensNDente Warehouse Management" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DensDBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=sql02.cytanium.com;Initial Catalog=DensDb;User ID=vasani;Password=APPLE.1234;Asynchronous Processing=True" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=MAYA-PC\MAYA;Initial Catalog=DensDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DensDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MAYA-PC\MAYA;Initial Catalog=DensDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="..\script.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DensDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=sql02.cytanium.com;initial catalog=DensDb;user id=vasani;password=APPLE.1234;asynchronous processing=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DensDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityFramework.DensModel.csdl|res://*/EntityFramework.DensModel.ssdl|res://*/EntityFramework.DensModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql02.cytanium.com;Initial Catalog=DensDb;User ID=vasani;Password=APPLE.1234;Asynchronous Processing=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>